<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QEMU_Panel.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <QEMU_Panel.Settings1>
            <setting name="color_r" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="color_g" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="color_b" serializeAs="String">
                <value>140</value>
            </setting>
            <setting name="isblack" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="expired" serializeAs="String">
                <value>0</value>
            </setting>
        </QEMU_Panel.Settings1>
    </userSettings>
</configuration>
